<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grateful Journal</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Fleur+De+Leah&family=Gloria+Hallelujah&family=Montserrat&family=Oswald:wght@400;700&family=Playfair+Display:wght@900&family=Roboto:wght@300;400;500;700;900&family=Sacramento&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="container">
            <h1 class="title">Grateful Journal <span class="heart">❤️</span> </h1>
            <h2 class="quote">"He is a wise man who does not grieve for the things which he has not, but rejoices for those which he has.

                - Epictetus"</h2>
        </div>
    </header>