<%- include('header') -%>

<section class="container">
    <h2 class="heading">Things I am grateful for today:</h2>
    <div class="card container">
        <div class="list">
            <p class="list-item">my life</p>
            <p class="list-item">my aprtment</p>
            <p class="list-item">my family</p>
            <img class="image" src="https://picsum.photos/150/200" alt="random image">
            <p class="date">Date</p>
        </div>
    </div>
</section>


<%- include('footer') -%>